body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: #a39696;
    color: #fff;
}

h1 {
    margin: 0;
    font-size: 36px;
}

h2 {
    font-size: 24px;
    color: #111010;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

article {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #dfd3d3;
    box-shadow: 0 2px 4px rgba(182, 166, 166, 0.1);
}

footer {
    text-align: center;
    color: #888;
    padding: 20px 0;
    background-color: #eedfdf;
}

footer {
    text-align: center;
    color: #888;
    padding: 20px 0;
    background-color: #333;
}
footer a {
    margin: 10px;
    display: inline-block;
}

a {
    color: #212325;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}